<div class="wrapper pt-3">
  <div class="row">
    <div class="col-12">
      <a routerLink="/" class="href" class="iconClose">
        <i class="fa fa-times fa-times-thin fa-2x close" height="14px" width="14px"></i>
      </a>
    </div>
    <div class="col-12">
      <div class="transportic_logo">
        <img src="./../../../../assets/images/logo.png">
      </div>

    </div>
    <div class="col-6">
      <h1 class="pincodeadd_heading">{{"GUEST.PINCODE-HEAD" | translate }}</h1>
    </div>
  </div>
  <form formGroup="transporticForm">
    <div class="row">
      <div class="col-12">
        <div class="wrapBox ">
          <div>
            <app-textfield labelname="{{'GUEST.PINCODE' | translate }}"></app-textfield>
            <app-textfield labelname="{{'GUEST.VEHICLEREGISTRATION' | translate }}">
            </app-textfield>
            <div class="container-fluid button__container">
              <button type="button" class="btn button__submit w-100">
                {{"PINCODE.CONSULT" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
