
<div class="wrapper">
  <div class="row">
      <div class="col-12">
          <a href="/" class="href" class="iconClose">
              <i class="fa fa-times fa-times-thin fa-2x close" height="14px" width="14px"></i>
          </a>
      </div>
      <div class="col-12">
          <div class="transportic_logo">
              <img src="./../../../../assets/images/logo.png">
          </div>

      </div>
      <div class="col-6">
          <h1 class="pincodeadd_heading">Consulta un Pincode</h1>
      </div>
  </div>
  <form formGroup="transporticForm">
    <div class="row">
        <div class="col-12">
          <div class="wrapBox ">
            <div>
                <app-textfield labelname="pincode"></app-textfield>
                <app-textfield labelname="xxxxxxx"></app-textfield>
                <button type="button" class="btn buttonInicia w-100">
                    Submit
              </button>

                
            </div>
          </div>
        </div>
      </div> 
  </form>  

</div>