<div class="container"media="sm">
    <div class="row">
        <div class="col-sm-12">
            <div class="form">
                <div class="portic-wrapper">
                    <div class="portic-wrapper__textfield m-2">
                        <input type="text" class="portic-wrapper__input p-2 w-100">
                        <div class="portic-wrapper__label">
                            <label class="portic-wrapper__label__value"><b>{{labelname}}</b></label>
                        </div>
                    </div> 
                </div>    
            </div>
        </div>
    </div>    
</div>    