<div class="row">
  <div>
    <button type="button" class="btn">
      <label class="language">
        {{"LOGIN.LANGUAGE" | translate }}
      </label>
    </button>
  </div>

  <div>
    <button type="button" class="btn" (click)="language('es')">
      <label class="language_esp">
        {{"LOGIN.ESP" | translate }}
      </label>
    </button>
  </div>

  <div>
    <button type="button" class="btn" (click)="language('cat')">
      <label class="language_cat">
        {{"LOGIN.CAT" | translate }}
      </label>
    </button>
  </div>

  <div>
    <button type="button" class="btn" (click)="language('en')">
      <label class="language_cat">
        {{"LOGIN.ENG" | translate }}
      </label>
    </button>
  </div>

  <div>
    <button type="button" class="btn" (click)="language('fra')">
      <label class="language_cat">
        {{"LOGIN.FRA" | translate }}
      </label>
    </button>
  </div>
</div>
