@import "../../../../styles/main";

.language {
  color: get-color(blue);
  font-family: $font-family-default;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  font-weight:bold;
}

.language_esp {
  color: get-color(primary);
  font-family: $font-family-default;
  font-size: 12px;
 //font-weight: 500;
 font-weight: bold;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
}

.language_cat {
  color: get-color(black);
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  
}
