.portic-wrapper__textfield{
    
        height: 56px;
        width: 312px;
    
}
.portic-wrapper{
    margin:26px 18px;
    height:732px;
}
.portic-wrapper__label{
    background-color:white;
    height: 13px;
    width: 94px;
    margin:0 4px;
    
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
