.portic-wrapper__textfield {
  position: relative;
  height: 56px;
  width: 312px;
  box-sizing: border-box;
}
.portic-wrapper__input {
  box-sizing: border-box;
  height: 48px;
  width: 312px;
  border: 1px solid #D3D9E5;
  border-radius: 4px;
  background-color: #FFFFFF;
}
.portic-wrapper {
  margin: 26px 18px;
  height: 732px;
  box-sizing: border-box;
}
.portic-wrapper__label {
  background-color: white;
  position: absolute;
  top: -12px;
  left: 8px;
  height: 13px;
  width: 94px;
  margin: 0 4px;
  box-sizing: border-box;
}
.portic-wrapper__label__value{  
  height: 13px;
  width: 86px;
  color: #062C76;
  font-family: Rubik;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 13px;
  box-sizing: border-box;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
