@import "../../../styles/main";

.pincode {
  box-sizing: border-box;
  height: 48px;
  border: 1px solid get-color(light-grey);
  border-radius: 4px;
  background-color: get-color(white);
  border-left-width: 10px;
  display: flex;
  justify-content: space-between;

  &_success {
    border-left-color: get-color(green);
  }

  &_info {
    border-left-color: get-color(yellow);
    background-color: get-color(light-yellow);
  }

  &_warning {
    border-left-color: get-color(red);
    background-color: get-color(light-red);
  }

  &__content {
    padding-top: 10px;
    padding-left: 10px;
  }

  &__title {
    color: get-color(black);
    font-family: $font-family-default;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
  }
}
