<div class="pincode pincode_success">
  <div class="pincode__content">
    <label class="pincode__title">{{ "PINCODE.CUSTOMS" | translate }}</label>
  </div>
</div>
<div class="pincode pincode_warning">
  <div class="pincode__content">
    <label class="pincode__title">{{ "PINCODE.LABEL" | translate }}</label>
  </div>
</div>
<div class="pincode pincode_info">
  <div class="pincode__content">
    <label class="pincode__title">{{ "PINCODE.SURRENDER" | translate }}</label>
  </div>
</div>
<div class="pincode pincode_info">
  <div class="pincode__content">
    <label class="pincode__title">{{ "PINCODE.ADMIT" | translate }}</label>
  </div>
</div>
