@import "../../../styles/main";

.pincode {
  box-sizing: border-box;
  height: 112px;
  border: 1px solid get-color(light-grey);
  border-radius: 4px;
  background-color: get-color(white);
  margin-bottom: 12px;
  &__type {
    height: 110px;
    border-radius: 3px 0 0 3px;
    background-color: get-color(green);
  }
  &__content {
    padding-top: 10px;
  }
  &__icon {
    float: right;
  }
  &__title {
    color: get-color(primary);
    font-family: $font-family-default;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
  }
}
ul {
  list-style: none;
  li {
    color: get-color(black);
    font-family: "Source Code Pro";
    font-size: 12px;
    letter-spacing: -0.24px;
    line-height: 15px;
  }
}
