@import "../../../../styles/main";

.cookies {
  height: 96px;
  background-color: $color-primary;
  color: $color-white;
}

.cookies_text {
  color: $color-white;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.close {
  color: $color-white;
}
