<form [formGroup]="transporticForm">
    <app-textfield labelname ="LABEL NAME" formControlName="name">
    </app-textfield>
</form>
<app-button label="Full width" [fullWidth]="true"></app-button>
<app-button label="Full width disabled" [fullWidth]="true" [disabled]="true"></app-button>
<app-button label="Small width primary"></app-button>
<app-button label="Small width transparent" [outline]="true"></app-button>
<app-button label="Small width rounded transparent" [rounded]="true" [outline]="true" (click)=buttonClick()>
</app-button>
<app-customer-component></app-customer-component>
