<div class="container-fluid">
  <div class =wrapper>
    <div class=transportic_logo>
      <img src="assets/transportic.png">
    </div>
    <div class=forgot_password_heading>
      Recruperar contrasena
    </div>
    <div class=forgot_password_instruction>
      Introduce tu usuario o email y te mandaremos un correo con una nueva contraseña.
    </div>
    <app-textfield formControlName="email" placeholder="Email" labelname="{{'LOGIN.USERNAME' | translate }}"
        type="email">
      </app-textfield>
  </div>
  <div class=button>
  <button type="button" class="btn btn-primary w-100">Primary</button>


  </div>
</div>
