<div class="wrapper">
  <div class="transportic_logo">
    <img src="assets/transportic.png" />
  </div>
  <div class="forgot_password_heading">
    Recruperar contrasena
  </div>
  <div class="forgot_password_instruction">
    Introduce tu usuario o email y te mandaremos un correo con una nueva
    contraseña.
  </div>
  <app-textfield
    formControlName="email"
    placeholder="Email"
    labelname="{{ 'LOGIN.USERNAME' | translate }}"
    type="email"
  >
  </app-textfield>
  <div class="button">
    <a href="mailsent">
      <button type="button" class="btn btn-send-mail">
        <div class="button_text">
          ENVIAR
        </div>
      </button>
    </a>
  </div>
</div>
