@import "../../../../styles/main";

.forgot_password_heading{
  color:$color-primary;
  font-family: Rubik;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -0.09px;
  line-height: 36px;
}

.forgot_password_instruction{
  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
