<form [formGroup]="forgotpasswordform" class="wrapper">
  <div class="transportic_logo">
    <img src="assets/images/rsz_transportic.png" />
  </div>
  <div class="forgot_password_heading">
    {{ "FORGOTPASSWORD.RECOVERPASSWORD" | translate }}
  </div>
  <div class="forgot_password_instruction">
    {{ "FORGOTPASSWORD.RECOVERPASSWORDINFO" | translate }}
  </div>
  <app-textfield
    formControlName="email"
    placeholder="Email"
    labelname="{{ 'LOGIN.USERNAME' | translate }}"
    type="email"
  >
  </app-textfield>
  <div class="button_wrapper">
    <a href="mailsent">
      <button type="button" class="btn btn-send-mail">
        <div class="button_text">
          {{ "FORGOTPASSWORD.SEND" | translate }}
        </div>
      </button>
    </a>
  </div>
</form>
