@import "../../../../styles/main";

.transportic_logo {
  text-align: center;
  margin-top: 140px;
}

.forgot_password_heading {
  text-align: center;
  font-family: $font-family-default;
  color: $color-primary;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -0.09px;
  line-height: 36px;
}

.mail_sent_message {
  font-family: $font-family-default;
  text-align: center;
  margin-top: 11px;
}

.btn-accept {
  height: 48px;
  background-color: $color-primary;
  width: 100%;
  margin-top: 23px;
}

.button_text {
  color: $color-white;
  font-family: $font-family-default;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
