<!--<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <alert type="success">
        <strong>
          {{"LOGIN.MESSAGE" | translate }}
        </strong>
      </alert>
    </div>
  </div>-->

<form [formGroup]="transporticForm">
  <app-textfield labelname ="LABEL NAME" formControlName="name" showPasswordIcon=true>

  </app-textfield>
</form>
<app-button label="Full width" [fullWidth]="true"></app-button>
<app-button label="Full width disabled" [fullWidth]="true" [disabled]="true"></app-button>
<app-button label="Small width primary"></app-button>
<app-button label="Small width transparent" [outline]="true" ></app-button>
<app-button label="Small width rounded transparent" [rounded]="true" [outline]="true" (click)=buttonClick()>
</app-button>


<button class="btn btn-primary btn-ss">click me</button>
