@import "../../../../styles/main";

.btn_login {
  margin-top: 17px;
  margin-bottom: 8px;
  height: 48px;
  border-radius: 4px;
  background-color: get-color(primary);
  color: get-color(white);
}

.btn_register {
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 48px;
  width: 312px;
  border: 1px solid get-color(light-grey);
  border-radius: 4px;
  background-color: get-color(white);
  color: get-color(primary);
  font-weight: bold;
}

.forgot_password {
  color: get-color(primary);
  font-family: $font-family-default;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 14px;
  text-align: right;
  display: block;
}

.help-block {
  padding-left: 0px;
  
  // display:flex;
  // justify-content: space-around;
  

  .help-links {
    height: 24px;
    color: get-color(primary);
    font-family: $font-family-default;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-right:9px;
    
  }
}

.portic_rights {
  height: 16px;
  color: get-color(dark-grey);
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: -0.25px;
  line-height: 16px;
}

.transportic_logo {
  width: 55px;
  margin-bottom: 22px;
}
