@import "../../../../styles/main";

.btn-ss {
}

hr {
  margin-bottom: 20px;
}

.wrapper {
  padding: 20px;
}

.login {

}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(15, 66, 107);
}

.login-header {
  background: rgb(12, 77, 129);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 0px 12px;
}

.login p {
  padding: 0px 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}


.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: rgb(1, 29, 51);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}

.button-cta-secondary {
  height: 48px;
}

.buttonInicia {
  margin-top: 17px;
  margin-bottom: 8px;
  height: 48px;
  border-radius: 4px;
  background-color: #0a4fd8;
}

.buttonBackground {
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 48px;
  width: 312px;
  border: 1px solid #d3d9e5;
  border-radius: 4px;
  background-color: #ffffff;
}

.textInicia {
  height: 17px;
  color: #ffffff;
  font-family: $font-family-default;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}

.textRegistrate {
  height: 17px;
  color: #0a4fd8;
  font-family: $font-family-default;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}

.textAccede {
  height: 17px;
  color: #0a4fd8;
  font-family: $font-family-default;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}

.has-olvidado-tu-con {
  color: #0a4fd8;
  font-family: $font-family-default;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 14px;
  text-align: right;
  display: block;
}

ul {
  padding-left: 0px;

  a {
    height: 24px;
    color: #0a4fd8;
    font-family: $font-family-default;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
  }
}

.portic-barcel {
  height: 16px;
  color: #888888;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: -0.25px;
  line-height: 16px;
}

.transportic_logo {
  width: 55px;
  margin-bottom: 22px;

}
