<div class="summary">
  <div class="row">
    <div class="col-12 transportic_logo">
      <img src="./../../../../assets/images/rsz_transportic.png">
    </div>
    <div class="col-12">
      <h1 class="fL">{{"REGISTER.REGISTRY" | translate }}</h1>
    </div>
    <label>{{"REGISTER.NOTIFICATION" | translate }}: <b>mail@portic.com</b>
    </label>
    <label>{{"REGISTER.SUMMARY" | translate }}</label>

  </div>
</div>
<a routerLink="/login" class="href">
  <button type="button" class="btn button_submit w-100">
    {{"REGISTER.ACCEPT" | translate }}
  </button>
</a>
