@import "../../../../styles/main";

.summary {
  text-align: center;
  padding-top: 100px;
}

.button_submit {
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 8px;
  height: 48px;
  border-radius: 4px;
  background-color: get-color(primary);
  color: get-color(white);
}

h1 {
  margin: 20px 0;
  font-family: $font-family-default;
  font-weight: lighter;
  color: get-color(primary);
  font-size: 36px;
}

label {
  text-align: center;
  margin: 5px 0;
  height: 60px;
  color: get-color(black);
  font-family: $font-family;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.button__link {
  display: flex;
  justify-content: center;
}
