.summary {
    text-align: center;
    padding-top: 100px;
}

.buttonInicia {
    text-transform: uppercase;
    margin-top: 17px;
    margin-bottom: 8px;
    height: 48px;
    width: 312px;
    border-radius: 4px;
    background-color: #0a4fd8;
    color: #ffffff;
}

h1 {
    margin: 20px 0;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    color: #0A4FD8;
    font-size: 36px;
    // margin: 0 18px;
}

label {
    text-align: center;
    width: 100%;
    margin: 5px 0;
}