@import "../../../../styles/main";

.summary {
  text-align: center;
  padding-top: 100px;
}

.button_submit {
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 8px;
  height: 48px;
  width: 312px;
  border-radius: 4px;
  background-color: get-color(primary);
  color: get-color(white);
}

h1 {
  margin: 20px 0;
  font-family: 'Rubik', sans-serif;
  font-weight: lighter;
  color: get-color(primary);
  font-size: 36px;
}

label {
  text-align: center;
  width: 100%;
  margin: 5px 0;
}
