@import "../../../styles/main";

.layout {
  padding: 0 !important;
  display: flex;
  justify-content: space-around;
  list-style: none;
  position: fixed;
  background: $color-primary;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 60px;
  align-items: center;

  &__item {
    text-align: center;
  }

  &__text {
    color: $color-white;
    font-family: $font-family-default;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 12px;
  }
}
