@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import "./variables/_variables";

$font-family-default: "Rubik",
sans-serif;
$font-family: 'Rubik';
$font-family-code: "Source Code Pro";

*,
html,
body {
  font-size: $font-size;
  line-height: $line-height;
  color: $color-black;
  font-family: $font-family-default;
}
