@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import './variables/_variables';

$font-family-default: 'Rubik',
sans-serif;

*,
html,
body {
  font-size: $font-size;
  line-height: $line-height;
  color: $color-black;
  font-family: $font-family-default;
}
