@import "../../../../styles/main";

.atencion-al-cliente {
  height: 16px;
  color: $color-blue;
  font-family: $font-family-default;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 24px;
}
.de-lunes-a-viernes-d {
  height: 32px;
  width: 292px;
  color: $color-black;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 24px;
}
.iconos-ic-call {
  height: 12px;
  width: 12px;
  margin-left: 24px;
}
.iconos-ic-call-iconos-ic-email {
  height: 17px;
  width: 17px;
  margin-left: 24px;
}
.iconos-ic-call-iconos-ic-chat {
  height: 16px;
  width: 16px;
  margin-left: 24px;
}
.via-telefonica-34 {
  height: $font-size;
  width: 187px;
  color: $color-dark-grey;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: $font-size;
}
.via-email-atenciocl {
  height: $font-size;
  width: 195px;
  color: $color-dark-grey;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: $font-size;
}
.via-chat-iniciar-co {
  height: $font-size;
  width: 165px;
  color: $color-dark-grey;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: $font-size;
}
.text {
  text-decoration: none !important;
  color: $color-primary;
}
.divStyle {
  margin-top: 20px;
}
