@import "../../../styles/main";

.notice-label {
  color: $color-primary;
  font-weight: bold;
  font-size: 12px;
  height: 15px;
  font-family: $font-family-code;
  letter-spacing: -0.24px;
  line-height: 15px;
}

.notice-heading {
  color: $color-black;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  font-family: $font-family;
}

.description {
  color: $color-black;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  font-family: $font-family;
}
