@import "../../../styles/main";
.notice-label{
color:$color-primary;
font-weight: bold;
font-size: 12px;
}
.notice-heading{
  color:$color-black;
  font-weight: bold;
  font-size: 18px;
  font-family: Rubik Medium;
  letter-spacing: 0;
  line-height: 22px;
}
.description{
  color:$color-black;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  font-family: rubik;
}