<p class="customer_support"> {{"LOGIN.CUSTOMERSUPPORT" | translate }}</p>
<p class="customer_info">{{"LOGIN.CUSTOMERSUPPORTINFO" | translate }}</p>

<ul class="contact-info">
  <li class="contact-info__item">
    <a href="tel:{{phone}}">
      <i class="fa fa-phone" id='text'></i>
      <span>
        {{"LOGIN.TELEPHONE" | translate }}:
      </span>
      {{phone}}
    </a>
  </li>
  <li class="contact-info__item">
    <a href="mailto:{{email}}?subject=Mail from Our Site">
      <i class="fa fa-envelope-o" id='text'></i>
      <span>
        {{"LOGIN.EMAIL" | translate }}:
      </span>
      {{email}}
    </a>
  </li>
  <li class="contact-info__item">
    <a href="sms://{{phone}}?body={{comment}}">
      <i class="fa fa-comment-o " id='text'></i>
      <span>
        {{"LOGIN.CHAT" | translate }}:
      </span>
      {{comment}}
    </a>
  </li>
</ul>
