<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

<p class="atencion-al-cliente"> {{"LOGIN.CUSTOMERSUPPORT" | translate }}</p>
<p class="de-lunes-a-viernes-d">{{"LOGIN.CUSTOMERSUPPORTINFO" | translate }}</p>

<div class="divStyle">
  <div class="input-group-addon ">
    <a href="tel:{{phone}}" class="via-telefonica-34 text">
      <i class="fa fa-phone iconos-ic-call text" id='text'></i>
      <label for="phone">
        {{"LOGIN.TELEPHONE" | translate }}
      </label>
    </a>
    <label class="via-telefonica-34 surface" for="phone">
      {{phone}}
    </label>
  </div>
</div>

<div class="form-group ">
  <div class="input-group-addon">
    <a href="mailto:{{email}}?subject=Mail from Our Site" class="via-email-atenciocl text">
      <i class="fa fa-envelope-o iconos-ic-call-iconos-ic-email text" id='text'></i>
      <label for="email">
      </label>
      {{"LOGIN.EMAIL" | translate }}
    </a>
    <label class="via-email-atenciocl" for="email">
      {{email}}
    </label>
  </div>
</div>

<div class="form-group ">
  <div class="input-group-addon">
    <a href="sms://{{phone}}?body={{comment}}" class="via-chat-iniciar-co text ">
      <i class="fa fa-comment-o iconos-ic-call-iconos-ic-chat text" id='text'></i>
      <label for="comment">
        {{"LOGIN.CHAT" | translate }}
      </label>
    </a>
    <label class="via-chat-iniciar-co" for="comment">
      {{comment}}
    </label>
  </div>
</div>
