@import "../../../../styles/main";

.customer_support {
  height: 16px;
  color: $color-blue;
  font-family: $font-family-default;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
}

.customer_info {
  color: $color-black;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.contact-info {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 5px;

    a {
      font-size: 12px;
      color: get-color(dark-grey);

      i {
        width: 16px;
        height: 16px;
        text-align: center;
        font-size: 16px;
        color: get-color(primary);
        margin-right: 13px;
      }

      span {
        color: get-color(primary);
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}
