@import "../../../../styles/main";

.atencion-al-cliente {
  height: 16px;
  color: $color-blue;
  font-family: $font-family-default;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;

}

.de-lunes-a-viernes-d {
  color: $color-black;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;

}

.iconos-ic-call {
  height: 12px;
  width: 12px;
  margin-right: $spacer * 1.5;
}

.iconos-ic-call-iconos-ic-email {
  height: 17px;
  width: 17px;
  margin-left: 24px;
}

.iconos-ic-call-iconos-ic-chat {
  height: 16px;
  width: 16px;
  margin-left: 24px;
}

.via-telefonica-34 {
  height: $font-size;

  color: $color-dark-grey;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: $font-size;
}

.via-email-atenciocl {
  height: $font-size;
  color: $color-dark-grey;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: $font-size;
}

.via-chat-iniciar-co {
  height: $font-size;
  color: $color-dark-grey;
  font-family: $font-family-default;
  font-size: 12px;
  letter-spacing: 0;
  line-height: $font-size;
}

.text {
  text-decoration: none !important;
  color: $color-primary;
}

.divStyle {
  margin-top: 20px;
}


.contact-info{
  list-style: none;
  margin: 0;
  padding: 0;
  &__item{
    margin-bottom: 5px;
    a{
      font-size: 12px;
      i {
        width: 16px;
        height: 16px;
        text-align: center;
        font-size: 16px;
        color: get-color(primary);
        margin-right: 13px;
      }
      span{
        color: get-color(primary);
      }
    }
  }
}
