.atencion-al-cliente {
  height: 16px;
  color: #062C76;
  font-family: Rubik;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
}
.de-lunes-a-viernes-d {
  height: 32px;
  width: 292px;
  color: #000000;
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}
.iconos-ic-call {
  height: 12px;
  width: 12px;
}
.iconos-ic-call-iconos-ic-email {
  height: 17px;
  width: 17px;
}
.iconos-ic-call-iconos-ic-chat {
  height: 16px;
  width: 16px;
}


.via-telefonica-34 {
  height: 14px;
  width: 187px;
  color: #888888;
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
}
.via-email-atenciocl {
  height: 14px;
  width: 195px;
  color: #888888;
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
}
.via-chat-iniciar-co {
  height: 14px;
  width: 165px;
  color: #888888;
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
}
  .text {
    text-decoration: none !important;
    color:#0A4FD8;
    
}

.divStyle{
  margin-top: 20px;
}

