@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
.wrapper {
    width: 390px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    h1 {
        font-family: 'Rubik', sans-serif;
    }
    .stepper {
        float: right;
        width: 150px;
        .stepDot {
            float: left;
            width: 7px;
            height: 7px;
            background-color: darkcyan;
            float: left;
            margin-left: 5px;
            border-radius: 5px;
        }
        .current {
            width: 50px;
            border-radius: 5px;
            animation: grow 4s 0s forwards;
            // animation-direction: reverse;
        }
        @keyframes grow {
            from {
                width: 10px;
            }
            to {
                width: 100px;
            }
        }
        .block02 {}
        .block03 {}
    }
    input {
        border: 1px;
        width: 75%;
        padding: 10px;
        border-radius: 2px;
        margin-bottom: 20px;
    }
    .account {
        display: none;
    }
    .info {
        display: none;
    }
    .email {
        display: none;
    }
    .active {
        display: block;
    }
}