<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <a href="/login" class="href" class="iconClose">
                <i class="fa fa-times fa-times-thin fa-2x close" height="14px" width="14px"></i>
            </a>
        </div>
        <div class="col-12">
            <div class="transportic_logo">
                <img src="./../../../../assets/images/rsz_transportic.png">
            </div>

        </div>
        <div class="col-6">
            <h1 class="fL">Registration</h1>
        </div>
        <div class=" col-6 ">
            <div class="stepper">
                <div class="stepDot block01 " [ngClass]="{ 'current':infoStepper} "> </div>
                <div class="stepDot block02 " [ngClass]="{ 'current':accountStepper} "></div>
                <div class="stepDot block03 " [ngClass]="{ 'current':emailStepper} "></div>
            </div>
        </div>
    </div>
    <form [formGroup]="transporticFormInfo ">
        <div class="row">
            <div class="col-12">
                <div class="wrapBox ">
                    <div class="regDiv info " [ngClass]="{ 'info':!isActiveInfo} ">
                        <div>
                            <app-textfield labelname="First Name"></app-textfield>
                        </div>
                        <div>
                            <app-textfield labelname="Last Name"></app-textfield>
                        </div>
                        <app-textfield labelname="Password"></app-textfield>

                        <button type="button" class="btn buttonInicia w-100" (click)="clickInfo()">
                      Submit
                </button>
                    </div>
                    <div class="regDiv account" [class.active]="isActiveAccount ">
                        <app-textfield labelname="Email " formControlName="name"></app-textfield>
                        <app-textfield labelname="Password " formControlName="email"></app-textfield>
                        <div class="checkboxWrap">
                            <input type="checkbox" id="ControlCheck" name="ControlCheck" value="Bike">
                            <label for="ControlCheck">He leído y acepto los siguientes Términos de Servicio y Política de privacidad</label>
                        </div>
                        <button type="button" class="btn buttonInicia w-100" (click)="clickEmail()">
                      Submit
                </button>
                    </div>
                    <div class="regDiv email " [class.active]="isActiveEmail ">
                        <label>Añade el correo electrónico de Gmail y controla la aplicación Transportic por voz de OK Google.</label>
                        <app-textfield labelname="Email"></app-textfield>
                        <label class="grey">Insertando el correo aceptas los <a href="#">términos y condiciones</a> del servicio de Google Inc.</label>
                        <button type="button" class="btn buttonBackground w-100">
                           SALTAR
                        </button>
                        <button type="button" class="btn buttonInicia w-100" (click)="clickComplete()">
                            SUBMIT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>