<div class="rectangle container">
  <div class="row">
    <ul>
      <li>
        <a routerLink="">
          <img src="assets/images/pincode.png" />
          <span>
            {{ "GUEST.PINCODE" | translate }}
          </span>
        </a>
      </li>
      <li>
        <a routerLink="">
          <img src="assets/images/orders.png" />
          <span>
            {{ "GUEST.ORDERS" | translate }}
          </span>
        </a>
      </li>
      <li>
        <a routerLink="">
          <img src="assets/images/bell.png" />
          <span>
            {{ "GUEST.NOTICES" | translate }}
          </span>
        </a>
      </li>
      <li>
        <a routerLink="">
          <img src="assets/images/profile.png" />
          <span>
            {{ "GUEST.PROFILE" | translate }}
          </span>
        </a>
      </li>
      <li>
        <a routerLink="">
          <img src="assets/images/contact.png" />
          <span>
            {{ "GUEST.CONTACTS" | translate }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
