$colors: (primary: #0A4FD8,
  seconday:#fff,
  black: #000C26,
  light-grey: #D3D9E5,
);


$color-primary: map-get($colors, primary);
$color-black: map-get($colors, black);
$color-light-grey: map-get($colors, light-grey);
