$colors: (primary: #0a4fd8,
  seconday: #fff,
  black: #000c26,
  light-grey: #d3d9e5,
  blue: #062c76,
  dark-grey: #888888,
  white: #ffffff,
  grey: #666e7d,
  green: #5ec800,
  light-blue: #799fe9,
  yellow:#D7C755,
  light-yellow:#FCF9E5,
  grey-color: #ccc,
  dark-blue: #1555D6);

$color-primary: map-get($colors, primary);
$color-black: map-get($colors, black);
$color-light-grey: map-get($colors, light-grey);
$color-dark-grey: map-get($colors, dark-grey);
$color-blue: map-get($colors, blue);
$color-white: map-get($colors, white);
$color-yellow: map-get($colors, yellow);
$color-light-yellow: map-get($colors, light-yellow);

@function get-color($key) {
  @return map-get($colors, $key);
}
